@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Text&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #909090;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23252525' fill-opacity='0.07'%3E%3Cpath opacity='.3' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#player-name-modal > div {
  animation: scale-up-center 0.5s ease 0s 1 normal none;
}

@keyframes scale-up-center {
  0% {
    transform:scale(.9);
  }
  100% {
    transform:scale(1);
  }
}

.tictactoe-box > i {
  animation: scale-down-center 0.5s ease 0s 1 normal none;
}

@keyframes scale-down-center {
  0% {
    transform:scale(1.15);
  }
  100% {
    transform:scale(1);
  }
}

@layer utilities {
  .tictactoe-box {
    @apply flex justify-center items-center border-dark w-20 h-20 sm:w-[5.6rem] sm:h-[5.6rem] md:w-[7rem] md:h-[7rem] al:w-[8rem] al:h-[8rem] lg:w-[6.4rem] lg:h-[6.4rem];
  }

  .x-mark {
    @apply text-dark text-[3.3rem] sm:text-[4.4rem] md:text-[5rem] lg:text-[5.5rem];
  }

  .o-mark {
    @apply text-dark text-[2.5rem] sm:text-[3.25rem] md:text-6xl lg:text-7xl lg:order-last;
  }
  
  .box-border-1 {
    @apply border-r-[4px] border-b-[4px];
  }
  
  .box-border-2 {
    @apply border-l-[4px] border-r-[4px] border-b-[4px];
  }
  
  .box-border-3 {
    @apply border-l-[4px] border-b-[4px];
  }
  
  .box-border-4 {
    @apply border-t-[4px] border-r-[4px] border-b-[4px];
  }
  
  .box-border-5 {
    @apply border-[4px];
  }
  
  .box-border-6 {
    @apply border-l-[4px] border-t-[4px] border-b-[4px];
  }
  
  .box-border-7 {
    @apply border-t-[4px] border-r-[4px];
  }
  
  .box-border-8 {
    @apply border-l-[4px] border-t-[4px] border-r-[4px];
  }
  
  .box-border-9 {
    @apply border-l-[4px] border-t-[4px];
  }
}
